.content {
    background-color: #E8E8DE;
    margin-top: -25px;
    height: 750px;
    /* position: fixed; */
    /* border-left: 5px outset #E8E8DE;
    border-bottom: 3px outset #E8E8DE; */
    /* margin-bottom: 50px; */
}

header {
    background-color: #2A2A28;
    height: 50px;
}

p {
    column-count: 4;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    column-rule: 5px double black;
}

a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    /* position: relative; */
    /* padding-top: 50px; */
    font-size: 20px;
}

table {
    padding-top: 12px;
}

.footer {
    background-color: black;
    text-align: center;
    color: white;
    height: 50px;
    margin-top: 11px;
}

h1 {
    padding-left: 20px;
    padding-top: 25px;
}

body {
    background-attachment: scroll;
}