* {
    margin: 0;
}

.container {
    display: flex;
    /* margin-left: 14px; */
}


.box {
    width: 250px;
    height: 65px;
    padding-top: 25px;
    font-size: 25px;
    text-align: center;
    color: white;
    /* margin-left: 250px; */
}

.box2,
.box6,
.box10,
.box14,
.box18 {
    margin-left: 304px;
}

.box3,
.box7,
.box11,
.box15,
.box19 {
    margin-left: 530px;
}



.container2 {
    /* position: fixed; */
    margin-left: 35%;
}

.box1 {
    background-color: #1dd0ad;
}

.box2 {
    background-color: #2fcc72;


}

.box3 {
    background-color: #3498db;

}

.box4 {
    background-color: #9b59b6;
}

.box5 {
    background-color: #34495e;
}

.box6 {
    background-color: #f1c40f;
}

.box7 {
    background-color: #e67e22;
}

.box8 {
    background-color: #e74c3c;
}

.box9 {
    background-color: #95a5a6;
}

.box10 {
    background-color: #7f8c8d;
}

.box11 {
    background-color: #1dd0ad;
}

.box12 {
    background-color: #2fcc72;

}

.box13 {
    background-color: #3498db;
}

.box14 {
    background-color: #9b59b6;
}

.box15 {
    background-color: #34495e;
}

.box16 {
    background-color: #f1c40f;
}

.box17 {
    background-color: #e67e22;
}

.box18 {
    background-color: #e74c3c;
}

.box19 {
    background-color: #95a5a6;
}