body {
    background-image: url(../img/Stupa_Borobudur.jpg);
    background-size: cover;
}

div {
    width: 750px;
    height: auto;
    background-color: white;
    text-align: right;
    float: right;
    padding-right: 13px;
    font-size: 17px;
    position: relative;
    top: 8px;
    right: 5px;
    font-weight: bold;
}